.footer {
  margin-top: 92px;
  padding-bottom: 24px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  margin: 0;
  width: 15%;
  max-width: 194px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 64px;
    padding-bottom: 20px;
  }
  .footer__copyright {
    font-size: 14px;
    width: auto;
  } /* Deja que fluya */
}
@media screen and (max-width: 425px) {
  .footer {
    margin-top: 48px;
    padding-bottom: 16px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}
