.lead {
  width: 76.875%;
  max-width: 984px;
  min-width: 300px;
  margin: 7.1% auto 0 auto;
}

.lead__title {
  font-family: "Inter Display", "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  color: #ffffff;
  margin: auto;
}

.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0 0;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  display: block;
  margin-top: 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90%;
    margin-top: 56px;
  }
  .lead__title {
    font-size: 72px;
    line-height: 1.05;
  }
  .lead__subtitle {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 24px;
  }
  .lead__image {
    margin-top: 56px;
    max-width: 928px;
  }
}

@media screen and (max-width: 480px) {
  .lead {
    width: 100%;
    padding: 0 16px;
    margin-top: 48px;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }
  .lead__image {
    margin: 40px -16px 0;
    width: calc(100% + 32px);
    max-width: calc(100% + 32px);
  }
}
