.page {
  font-family: "Inter", "Arial", sans-serif;
  background-color: #2a2c2f;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* FIX GLOBAL: ELIMINA SCROLL HORIZONTAL EN TODO EL PROYECTO */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
